@font-face {
    font-family: Druk-Heavy;
    src: url("./fonts/Druk-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 140%;
    width: 100%;
}
#main{
    height: 100%;
    background-color: #F3F0E7;
}
#text1{
    position: absolute;
    text-align: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style: oblique;
    color: rgb(211, 21, 21);
    font-size: 144px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: Druk Heavy;
}
#text2{
    position: absolute;
    text-align: center;
    top: 73%;
    left: 49%;
    transform: translate(-50%,-50%);
    font-style: oblique;
    color: rgb(211, 21, 21);
    font-size: 144px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: Druk Heavy;
}
#image{
    height:80%;
    position: absolute;
    top: 63%;
    left: 53%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;


}
#image:hover{
    height: 95%;
    cursor: pointer;
}
#logo{
    height: 15%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#home{
    height: 34px;
    width: 64px;
    top: 8%;
    left: 80%;
    transform: translate(-50%,-50%);
    color: grey;
    position: absolute;
    border: transparent;
    background-color: transparent;
    font-size: 22px;
    font-family: Druk Heavy;
    letter-spacing: 1px;

}
#home:hover{
    color: black;
    cursor: pointer;
}
#buy{
    height: 34px;
    width: 64px;
    top: 8%;
    left: 85%;
    transform: translate(-50%,-50%);
    color: grey;
    position: absolute;
    border: transparent;
    background-color: transparent;
    font-size: 22px;
    font-family:Druk Heavy;
    letter-spacing: 1px;

}
#buy:hover{
    color: black;
    cursor: pointer;
}
#contact{
    height: 34px;
    width: 64px;
    top: 8%;
    left: 90%;
    transform: translate(-50%,-50%);
    color: grey;
    position: absolute;
    border: transparent;
    background-color: transparent;
    font-size: 22px;
    font-family: Druk Heavy;
    letter-spacing: 1px;

}
#contact:hover{
    color: black;
    cursor: pointer;
}
#logo2{
    height: 17%;
    position: absolute;
    top:9%;
    left:10%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;

}
#logo2:hover{
    height: 13%;
}
#can1{
    position: absolute;
    top: 135%;
    left:75%;
    height: 65%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
#can2{
    position: absolute;
    top: 135%;
    left:50%;
    height: 65%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
#can3{
    position: absolute;
    top: 128%;
    left:25%;
    height: 61%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
#can1:hover{
    height: 70%;
    cursor: pointer;
}
#can2:hover{
    height: 70%;
    cursor: pointer;
}
#can3:hover{
    height: 66%;
    cursor: pointer;
}
#feelgood{
    position: absolute;
    top: 170%;
    left: 48%;
    text-align: center;
    font-size: 54x;
    font-family: Shaloems;

    letter-spacing: 4px;
    font-weight: 1200;
    transform: translate(-50%,-50%);
}